html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  margin: 0 auto;
  background-color: #eaeaea;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
}

.col {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
  
  margin: 10px;
/*   
  background-color: #efefef;
  border: 1px solid #dedede; */
  padding: 10px;
  
}

.col-1 {
  max-width: calc(100% / 12);
}
.col-2 {
  max-width: calc(100% / 12 * 2);
}
.col-3 {
  max-width: calc(100% / 12 * 3);
}
.col-4 {
  max-width: calc(100% / 12 * 4);
}
.col-5 {
  max-width: calc(100% / 12 * 5);
}
.col-6 {
  max-width: calc(100% / 2);
}