@import 'bootstrap/scss/bootstrap.scss';

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}
body {
  overflow-y:hidden;
}
